
div .box {
  padding-left: 3rem;
  padding-right: 3rem;
}

div .row {
  display: inline-flex;
  width: 99%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px !important ;
}

div .row:hover {
  background-color: #fafafa;
}

div .story {
  display: inline-flex;
  width: 70%;
  font-size: 13pt;
  color: #333;
}

div .story .author {
  padding-left: 5px;
  color: #999;
}

div .row .date {
  width: 20%;
}

div .row:hover .deleteButton {
  display: block;
  color: #333;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}

div .row .deleteButton {
  display: none;
}
